﻿
@using AspCoreLayer.Areas.DocumentsArea.ViewModels
@using System

@{
    ViewData["Title"] = "Təşkilatı əlavə etmə";
}

@model AddStructuralDepartmentViewModel

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="StructuralDepartment" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name">Təşkilatın adı</label>
        <input asp-for="Name" type="text" />
    </div>

    <div class="form-group">
        <label asp-for="NomenclatureNumber">Nomenklatur nömrə</label>
        <input asp-for="NomenclatureNumber" type="number" />
        <span asp-validation-for="NomenclatureNumber" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Sənəd tipini əlavə et" class="btn btn-outline-primary" />
    </div>
</form>


@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}