﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@model AddCityViewModel

@{
    ViewData["Title"] = "Şəhər əlavə etmə";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="City">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="NewCityName">Şəhərin adı</label>
        <input asp-for="NewCityName" type="text" />
        <span asp-validation-for="NewCityName" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Şəhəri əlavə et" class="btn btn-outline-primary" />
    </div>
</form>