﻿@using AspCoreLayer.Areas.DocumentsArea.ViewModels
@using DocumentsArchiverCore.Entities

@model FolderDocumentsViewModel

@{ int counter = 1;}

<label>Sənədlər</label>

<div class="tableDiv">
    <table id="documentsTable" class="table table-bordered table-hover">
        <thead>
        <tr class="thead-dark">
            <th></th>
            <th>Id</th>
            <th>Sənədin nömrəsi</th>
            <th>Sənədin növü</th>
            <th>Sənədin tarixi</th>
            <th>Sənədin tipi</th>
            <th>Sənədi təşkilatın arxivinə təhvil verən struktur bölməsinin adı.</th>
            <th>Təhvil verən əməkdaş</th>
            <th>İcra edən əməkdaş</th>
            <th>İcra tarixi</th>
            <th>Qeyd</th>
        </tr>
            </thead>
        <tbody>
            <tr>
                <td><input type="text" class="documentTableInputFilter" id="rowFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="idFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="numberFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="kindFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="dateFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="typeFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="structuralDepartmentFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="introducerFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="executerFilter" /></td>
                <td><input type="text" class="documentTableInputFilter" id="executionDateFilter"/></td>
                <td><input type="text" class="documentTableInputFilter" id="noteFilter" /></td>
            </tr>

        @foreach (Document item in Model.Documents)
        {
            <tr onclick="clickOnDocument(event, @item.Id)" class="documentTableRow">
                <td class="rowNumberTd">@counter @{counter++;}</td>
                <td class="idTd">@item.Id</td>
                <td class="numberOfDocumentTd">@item.NumberOfDocument</td>
                <td class="kindOfDocumentTd">@item.KindOfDocument.Name</td>
                <td class="dateOfDocumentTd">@item.DateOfDocument</td>
                <td class="typeOfDocumentTd">@item.TypeOfDocument.Name</td>
                <td class="structuralDepartmentTd">@item.StructuralDepartment.Name</td>
                <td class="introducerTd">@item.IntroducerInitials</td>
                <td class="executerTd">@item.ExecuterInitials</td>
                <td class="executionDateTd">@item.ExecutionDate</td>
                <td class="noteTd">@item.Note</td>
            </tr>
        }
            </tbody>
    </table>
</div>

<div class="documentFunctions">
    <div class="addDocumentButtonDiv"><button onclick="location.href='@Url.Action("Add", "Document", new { folderId = @Model.FolderId})'"  class="btn btn-outline-primary">Sənəd əlavə et qovluğa</button></div>
    <div class="documentButtons">
        <button onclick="redirectToEditDocument(event)" class="btn btn-outline-secondary"><i class="far fa-eye"></i></button>
        <button onclick="redirectToScanFilesOfDocument(event)" class="btn btn-outline-secondary">Skan Fayıllar</button>
        <button class="btn btn-outline-secondary">Act</button>
        <button onclick="deleteDocument(event)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>




