﻿
@using AspCoreLayer.Areas.DocumentsArea.ViewModels
@using DocumentsArchiverCore.Entities

@model DocumentViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="FolderId" type="hidden" value="@Model.FolderId" />
<div class="form-group">
    <label asp-for="NumberOfDocument" class="control-label">Sənədin nömrəsi</label>
    <input type="text" asp-for="NumberOfDocument" class="form-control" />
    <span asp-validation-for="NumberOfDocument" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="KindOfDocumentId">Sənədin növü</label>
    <select asp-for="KindOfDocumentId">
        @foreach (var item in Model.KindsOfDocument)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <a asp-action="Add" asp-controller="KindOfDocument" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="KindOfDocumentId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateOfDocument" class="control-label">Sənədin tarixi</label>
    <input type="text" asp-for="DateOfDocument" class="form-control" id="dateOfDocId" />
    <span asp-validation-for="DateOfDocument" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="TypeOfDocumentId">Sənədin tipi</label>
    <select asp-for="TypeOfDocumentId">
        @foreach (var item in Model.TypesOfDocument)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <a asp-action="Add" asp-controller="TypeOfDocument" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="TypeOfDocumentId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="StructuralDepartmentId">Sənədi təşkilatın arxivinə təhvil verən struktur bölməsinin adı.</label>
    <select asp-for="StructuralDepartmentId">
        @foreach (var item in Model.StructuralDepartments)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <a asp-action="Add" asp-controller="StructuralDepartment" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="StructuralDepartmentId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IntroducerInitials" class="control-label">Təhvil verən şəxs</label>
    <input type="text" asp-for="IntroducerInitials" class="form-control" />
    <span asp-validation-for="IntroducerInitials" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExecuterInitials" class="control-label">İcra edən şəxs</label>
    <input type="text" asp-for="ExecuterInitials" class="form-control" />
    <span asp-validation-for="ExecuterInitials" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExecutionDate" class="control-label">Sənədin icra edilmə tarixi</label>
    <input type="text" asp-for="ExecutionDate" class="form-control" id="executionDate" />
    <span asp-validation-for="ExecutionDate" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Note" class="control-label">Qeyd</label>
    <input type="text" asp-for="Note" class="form-control" />
    <span asp-validation-for="Note" class="form-text text-danger"></span>
</div>