﻿@using AspCoreLayer.Areas.DocumentsArea.ViewModels
@using DocumentsArchiverCore.Entities

@model DocumentViewModel
@{
    ViewData["Title"] = "Sənəd əlavə etmə";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="Document" asp-area="DocumentsArea" method="post" enctype="multipart/form-data">
    
    <partial name="_DocumentFormContents" model="Model" />

    <div class="form-group">
        <label asp-for="ReportingActScanFile" class="control-label">Təhvil-təslim AKT-ı yuklə: </label>
        <input type="file" asp-for="ReportingActScanFile" class="form-control" />
        <span asp-validation-for="ReportingActScanFile" class="form-text text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="ScanFiles" class="control-label">Skan faylları yüklə: </label>
        <input type="file" asp-for="ScanFiles" multiple class="form-control" />
        <span asp-validation-for="ScanFiles" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Təsdiq et" class="btn btn-outline-primary" />
    </div>

</form>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />

    <script>
        $(function () {
            $('#dateOfDocId').datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1930:3000', 
                    dateFormat: 'dd/mm/yy' 
                }
            );
            $('#executionDate').datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1930:3000',
                    dateFormat: 'dd/mm/yy'
                }
            );
        });
    </script>
}