﻿@using AspCoreLayer.Areas.DocumentsArea.ViewModels
@using DocumentsArchiverCore.Entities

@model DocumentViewModel
@{
    ViewData["Title"] = "Sənəd update";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Edit" asp-controller="Document" asp-area="DocumentsArea" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />

    <partial name="_DocumentFormContents" model="Model" />


    <div class="form-group">
        <input type="submit" value="Təsdiq et" class="btn btn-outline-primary" />
    </div>

</form>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />

    <script>
        $(function () {
            $('#dateOfDocId').datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1930:3000', 
                    dateFormat: 'dd/mm/yy' 
                }
            );
        });
    </script>
}

