﻿@using DocumentsArchiverCore.Entities


@{
    ViewData["Title"] = "Qovluğun sənədləri";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<table id="tableId" class="table table-striped table-striped containerContent">
    <partial name="_DocumentsTable" model="@ViewData["folderDocuments"]" />
</table>

<a asp-action="Add" asp-controller="Document" asp-route-folderId="@ViewData["folderId"]" class="btn btn-outline-primary">Sənəd əlavə et qovluğa</a>


@section Scripts{
    <script>
        
        function updateTable(response) {
            $('#tableId').html(response);
        }
    </script>
}
