﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arxiv</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

  
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
   

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav nav-tabs">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Qovluğlar</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Folders" asp-controller="Folder" asp-area="FoldersArea">Qovluğlar siyahısı</a>
                    <a class="dropdown-item" asp-action="Add" asp-controller="Folder" asp-area="FoldersArea">Qovluğ əlavə et</a>
                </div>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu ">
                        <a class="dropdown-item" asp-action="AddUser" asp-controller="Account" asp-area="Identity">Istifadəçi əlavə etmək</a>
                    </div>
                </li>
            }
        </ul>
        <div class="float-right">
        
            <span class="badge badge-info">@User.Identity.Name</span>
            <a class="btn btn-primary" asp-action="LogOut" asp-controller="Account" asp-area="Identity">Çıxış</a>
        
            @*<a class="btn btn-primary" asp-action="Login" asp-controller="Account" asp-area="Identity">Daxil ol</a>*@
       
        </div>
    </nav>
    }
    @*<partial name="_CookieConsentPartial" />*@

    <div class="container-fluid body-content mainContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>Arxiv program</p>
        </footer>
    </div>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
            asp-fallback-src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js">
    </script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    @*<script src="~/lib/jquery.layout.all-1.2.0/jquery.js"></script>
    <script src="~/lib/jquery.layout.all-1.2.0/jquery.layout.js"></script>
    <script src="~/lib/jquery.layout.all-1.2.0/jquery.ui.all.js"></script>
    <script src="~/lib/jquery.splitter/jquerySplitter.js"></script>*@

    @RenderSection("Scripts", required: false)

</body>
</html>
