﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@using DocumentsArchiverCore.Entities

@model FolderViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label asp-for="FolderTypeId">Qovluğun növü</label>
    <select asp-for="FolderTypeId">
        @foreach (var item in Model.FolderTypes)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <a asp-action="Add" asp-controller="FolderType" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="FolderTypeId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="OrganizationId">Təşkilat</label>
    <select asp-for="OrganizationId">
        @foreach (var item in Model.Organizations)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <a asp-action="Add" asp-controller="Organization" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="OrganizationId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LocationId" class="control-label">Ünvan</label>
    <select asp-for="LocationId" class="ui-selectable">
        @foreach (var item in Model.Locations)
        {
            <option value="@item.Id">@item.City.Name @item.Address</option>
        }
    </select>
    <a asp-action="Add" asp-controller="Location" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="LocationId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Floor" class="control-label">Mərtəbə</label>
    <input type="number" asp-for="Floor" class="form-control" />
    <span asp-validation-for="Floor" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RoomId" class="control-label">Otaq</label>
    <select asp-for="RoomId">
        @foreach (var item in Model.Rooms)
        {
            <option value="@item.Id">@item.RoomNumber</option>
        }
    </select>
    <a asp-action="Add" asp-controller="Room" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
    <span asp-validation-for="RoomId" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ShelvingColumnNumber" class="control-label">Sıra</label>
    <input type="number" asp-for="ShelvingColumnNumber" class="form-control" />
    <span asp-validation-for="ShelvingColumnNumber" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ShelvingNumber" class="control-label">Stelaj</label>
    <input type="number" asp-for="ShelvingNumber" class="form-control" />
    <span asp-validation-for="ShelvingNumber" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ShelfNumber" class="control-label">Rəf</label>
    <input type="number" asp-for="ShelfNumber" class="form-control" />
    <span asp-validation-for="ShelfNumber" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateFrom" class="control-label">Başlanğıc müddəti</label>
    <input type="datetime" asp-for="DateFrom" id="datefromid" class="form-control" />
    <span asp-validation-for="DateFrom" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateTo" class="control-label">Son müddət</label>
    <input type="datetime" asp-for="DateTo" class="form-control" id="datetoid" />
    <span asp-validation-for="DateTo" class="form-text text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Note" class="control-label">Qeyd</label>
    <input type="text" asp-for="Note" class="form-control" />
    <span asp-validation-for="Note" class="form-text text-danger"></span>
</div>

