﻿@using DocumentsArchiverCore.Entities


@model IEnumerable<Folder>

@{ int counter = 1;}

<thead class="thead-dark">
    <th></th>
    <th></th>
    <th>Id</th>
    <th>Qovluq növü</th>
    <th>Təşkilat</th>
    <th>Şəhər</th>
    <th>Ünvan</th>
    <th>Mərtəbə</th>
    <th>Otaq</th>
    <th>Sıra</th>
    <th>Stelaj</th>
    <th>Rəf</th>
    <th>Başlanğıc müddəti</th>
    <th>Son müddət</th>
    <th>Qeyd</th>
</thead>

<tbody>
    <tr>
        <td></td>
        <td><input type="text" class="folderTableInputFilter" id="rowNumberFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="idFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="folderTypeFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="organizationFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="cityFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="addressFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="floorFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="roomFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="shelfColumnFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="shelvingFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="shelfFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="dateFromFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="dateToFilter"/></td>
        <td><input type="text" class="folderTableInputFilter" id="noteFilter"/></td>
    </tr>
@foreach (var item in Model)
{


    <tr onclick="clickOnFolder(@item.Id)" class="folderTableRow">
        <td><i class="fa fa-folder-open" aria-hidden="true"></i></td>
        <td class="rowNumberTd">@counter @{counter++;}</td>
        <td class="idTd">@item.Id</td>
        <td class="folderTypeTd">@item.FolderType.Name</td>
        <td class="organizationTd">@item.Organization.Name</td>
        <td class="cityTd">@item.Location.City.Name</td>
        <td class="addressTd">@item.Location.Address</td>
        <td class="floorTd">@item.Floor.Number</td>
        <td class="roomTd">@item.Room.RoomNumber</td>
        <td class="shelvingColumnTd">@item.ShelvingColumn.Number</td>
        <td class="shelvingTd">@item.Shelving.Number</td>
        <td class="shelfTd">@item.Shelf.Number</td>
        <td class="dateFromTd">@item.DateFrom</td>
        <td class="dateToTd">@item.DateTo</td>
        <td class="noteTd">@item.Note</td>
    </tr>
}
 
</tbody>

