﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@using DocumentsArchiverCore.Entities

@model FolderViewModel
@{
    ViewData["Title"] = "Qovluğ əlavə etmə";
}

<h2>@ViewData["Title"]</h2>


<form asp-action="Add" asp-controller="Folder" enctype="multipart/form-data">

    <partial name="_FolderContents" model="Model" />

    <div class="col-md-10">
        <label asp-for="ScanFiles" class="control-label">Skan fayl yüklə: </label>
        <input type="file" asp-for="ScanFiles" multiple />
        <span asp-validation-for="ScanFiles" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Təsdiq et" class="btn btn-outline-primary" />
    </div>
</form>

@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>

        
        $(function () {
            $('#datetoid').datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1930:3000', 
                    dateFormat: 'dd/mm/yy' 
                }
            );
            $('#datefromid').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1930:3000', 
                dateFormat: 'dd/mm/yy' 
            });
        });
    </script>
}