﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@using DocumentsArchiverCore.Entities

@model FolderViewModel
@{
    ViewData["Title"] = "Qovluğ update";
}

<h2>@ViewData["Title"]</h2>


<form asp-action="Edit" asp-controller="Folder"  enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />

    <partial name="_FolderContents" model="Model" />


    <div class="form-group">
        <input type="submit" value="Təsdiq et" class="btn btn-outline-primary" />
    </div>
</form>

@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
        $(function () {
            $('#datetoid').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1930:3000', 
                dateFormat: 'dd/mm/yy' 
            });
            $('#datefromid').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1930:3000', 
                dateFormat: 'dd/mm/yy' 
            });
        });
    </script>
}