﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels


@model FoldersViewModel
@{
    ViewData["Title"] = "Folders";
}

@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>




<div id="tablesContainer">
    <div>
        <label>Qovluğlar</label>
        <div class="tableDiv">
            <table id="foldersTable" class="table table-bordered table-hover"></table>
        </div>

        <div class="folderFunctions">
            <div class="addFolderButton"><a asp-action="Add" asp-controller="Folder" class="btn btn-dark">Qovluq əlavə et</a></div>
            <div class="folderButtons">
                <button onclick="redirectToEditFolder(event)" class="btn btn-outline-secondary"><i class="far fa-eye"></i></button>
                <button onclick="redirectToScanFilesOfFolder(event)" class="btn btn-outline-secondary">Skan Fayıllar</button>
                <button onclick="deleteFolder(event)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <div id="documentsTableDiv">
        

    </div>

</div>






@section Scripts{


    <script src="~/lib/jquery.layout.all-1.2.0/jquery.js"></script>
    <script src="~/lib/jquery.layout.all-1.2.0/jquery.layout.js"></script>
    <script src="~/lib/jquery.layout.all-1.2.0/jquery.ui.all.js"></script>
    <script src="~/lib/jquery.splitter/jquerySplitter.js"></script>
    <script>

        var selectedFolderId;
        var selectedDocumentId;

        var folderRowNumberFilter, folderIdFilter, folderTypeFilter, folderOrganizationFilter, folderCityFilter,
            folderAddressFilter, folderFloorFilter, folderRoomFilter, folderShelfColumnFilter, folderShelfFilter,
            folderDateFromFilter, folderDateToFilter, folderNoteFilter, folderShelvingFilter;

        var documentRowFilter, documentIdFilter, documentNumberFilter, documentKindFilter,
            documentDateFilter, documentTypeFilter, documentStructuralDepartmentFilter,
            documentIntroducerFilter, documentExecuterFilter, documentExecutionDateFilter, documentNoteFilter;

        function setFolderFilters() {
            folderRowNumberFilter = $('#foldersTable #rowNumberFilter').val().trim().toLowerCase();
            folderIdFilter = $('#foldersTable #idFilter').val().trim().toLowerCase();
            folderTypeFilter = $('#foldersTable #folderTypeFilter').val().trim().toLowerCase();
            folderOrganizationFilter = $('#foldersTable #organizationFilter').val().trim().toLowerCase();
            folderCityFilter = $('#foldersTable #cityFilter').val().trim().toLowerCase();
            folderAddressFilter = $('#foldersTable #addressFilter').val().trim().toLowerCase();
            folderFloorFilter = $('#foldersTable #floorFilter').val().trim().toLowerCase();
            folderRoomFilter = $('#foldersTable #roomFilter').val().trim().toLowerCase();
            folderShelfColumnFilter = $('#foldersTable #shelfColumnFilter').val().trim().toLowerCase();
            folderShelvingFilter = $('#foldersTable #shelvingFilter').val().trim().toLowerCase();
            folderShelfFilter = $('#foldersTable #shelfFilter').val().trim().toLowerCase();
            folderDateFromFilter = $('#foldersTable #dateFromFilter').val().trim().toLowerCase();
            folderDateToFilter = $('#foldersTable #dateToFilter').val().trim().toLowerCase();
            folderNoteFilter = $('#foldersTable #noteFilter').val().trim().toLowerCase();
        }

        function setDocumentFilters() {
            documentRowFilter = $('#documentsTable #rowFilter').val().trim().toLowerCase();
            documentIdFilter = $('#documentsTable #idFilter').val().trim().toLowerCase();
            documentNumberFilter = $('#documentsTable #numberFilter').val().trim().toLowerCase();
            documentKindFilter = $('#documentsTable #kindFilter').val().trim().toLowerCase();
            documentDateFilter = $('#documentsTable #dateFilter').val().trim().toLowerCase();
            documentTypeFilter = $('#documentsTable #typeFilter').val().trim().toLowerCase();
            documentStructuralDepartmentFilter = $('#documentsTable #structuralDepartmentFilter').val().trim().toLowerCase();
            documentIntroducerFilter = $('#documentsTable #introducerFilter').val().trim().toLowerCase();
            documentExecuterFilter = $('#documentsTable #executerFilter').val().trim().toLowerCase();
            documentExecutionDateFilter = $('#documentsTable #executionDateFilter').val().trim().toLowerCase();
            documentNoteFilter = $('#documentsTable #noteFilter').val().trim().toLowerCase();
        }

        function filterFoldersTable() {
            clickOnFolder(-1);
            setFolderFilters();
            let folderRows = $('#foldersTable .folderTableRow');
            folderRows.hide();
            folderRows = filterByRowNumberFoldersTable(folderRows);
            folderRows = filterByIdFoldersTable(folderRows);
            folderRows = filterByFolderTypeFoldersTable(folderRows);
            folderRows = filterByOrganizationFoldersTable(folderRows);
            folderRows = filterByCityFoldersTable(folderRows);
            folderRows = filterByAddressFoldersTable(folderRows);
            folderRows = filterByFloorFoldersTable(folderRows);
            folderRows = filterByRoomFoldersTable(folderRows);
            folderRows = filterByShelfColumnFoldersTable(folderRows);
            folderRows = filterByShelvingFoldersTable(folderRows);
            folderRows = filterByShelfFoldersTable(folderRows);
            folderRows = filterByDateFromFoldersTable(folderRows);
            folderRows = filterByDateToFoldersTable(folderRows);
            folderRows = filterByNoteFoldersTable(folderRows);
            folderRows.show();
        }

        function filterDocumentsTable() {
            clickOnDocument(null, -1);
            setDocumentFilters();
            let documentRows = $('#documentsTable .documentTableRow');
            documentRows.hide();
            documentRows = filterByRowDocumentsTable(documentRows);
            documentRows = filterByIdDocumentsTable(documentRows);
            documentRows = filterByDocNumberDocumentsTable(documentRows);
            documentRows = filterByKindDocumentsTable(documentRows);
            documentRows = filterByDateDocumentsTable(documentRows);
            documentRows = filterByTypeDocumentsTable(documentRows);
            documentRows = filterByStructuralDepartmentDocumentsTable(documentRows);
            documentRows = filterByIntroducerDocumentsTable(documentRows);
            documentRows = filterByExecuterDocumentsTable(documentRows);
            documentRows = filterByExecutionDateDocumentsTable(documentRows);
            documentRows = filterByNoteDocumentsTable(documentRows);
            documentRows.show();
        }


        //filters for folders table
        function filterByRowNumberFoldersTable(elements) {
            return elements.find('.rowNumberTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderRowNumberFilter);
            }).parent();
        }

        function filterByIdFoldersTable(elements) {
            return elements.find('.idTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderIdFilter);
            }).parent();
        }

        function filterByFolderTypeFoldersTable(elements) {
            return elements.find('.folderTypeTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderTypeFilter);
            }).parent();
        }

        function filterByOrganizationFoldersTable(elements) {
            return elements.find('.organizationTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderOrganizationFilter);
            }).parent();
        }

        function filterByCityFoldersTable(elements) {
            return elements.find('.cityTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderCityFilter);
            }).parent();
        }

        function filterByAddressFoldersTable(elements) {
            return elements.find('.addressTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderAddressFilter);
            }).parent();
        }

        function filterByFloorFoldersTable(elements) {
            return elements.find('.floorTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderFloorFilter);
            }).parent();
        }

        function filterByRoomFoldersTable(elements) {
            return elements.find('.roomTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderRoomFilter);
            }).parent();
        }

        function filterByShelfColumnFoldersTable(elements) {
            return elements.find('.shelvingColumnTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderShelfColumnFilter);
            }).parent();
        }

        function filterByShelvingFoldersTable(elements) {
            return elements.find('.shelvingTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderShelvingFilter);
            }).parent();
        }

        function filterByShelfFoldersTable(elements) {
            return elements.find('.shelfTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderShelfFilter);
            }).parent();
        }

        function filterByDateFromFoldersTable(elements) {
            return elements.find('.dateFromTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderDateFromFilter);
            }).parent();
        }

        function filterByDateToFoldersTable(elements) {
            return elements.find('.dateToTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderDateToFilter);
            }).parent();
        }

        function filterByNoteFoldersTable(elements) {
            return elements.find('.noteTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(folderNoteFilter);
            }).parent();
        }


        //filtersForDocumentTable

        function filterByRowDocumentsTable(elements) {
            return elements.find('.rowNumberTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentRowFilter);
            }).parent();
        }

        function filterByIdDocumentsTable(elements) {
            return elements.find('.idTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentIdFilter);
            }).parent();
        }

        function filterByDocNumberDocumentsTable(elements) {
            return elements.find('.numberOfDocumentTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentNumberFilter);
            }).parent();
        }

        function filterByKindDocumentsTable(elements) {
            return elements.find('.kindOfDocumentTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentKindFilter);
            }).parent();
        }

        function filterByDateDocumentsTable(elements) {
            return elements.find('.dateOfDocumentTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentDateFilter);
            }).parent();
        }

        function filterByTypeDocumentsTable(elements) {
            return elements.find('.typeOfDocumentTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentTypeFilter);
            }).parent();
        }

        function filterByStructuralDepartmentDocumentsTable(elements) {
            return elements.find('.structuralDepartmentTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentStructuralDepartmentFilter);
            }).parent();
        }

        function filterByIntroducerDocumentsTable(elements) {
            return elements.find('.introducerTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentIntroducerFilter);
            }).parent();
        }

        function filterByExecuterDocumentsTable(elements) {
            return elements.find('.executerTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentExecuterFilter);
            }).parent();
        }

        function filterByExecutionDateDocumentsTable(elements) {
            return elements.find('.executionDateTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentExecutionDateFilter);
            }).parent();
        }

        function filterByNoteDocumentsTable(elements) {
            return elements.find('.noteTd').filter(function () {
                return this.textContent.trim().toLowerCase().includes(documentNoteFilter);
            }).parent();
        }

        ///
        function setSelectedFolderId(folderId) {
            selectedFolderId = folderId;
            var element = getTdFromFoldersTableWithFolderId(folderId);
            if (element.length == 0) {
                selectedFolderId = -1;
            }
            if (selectedFolderId == -1) {
                $('.folderButtons button').attr('disabled', true);
                
            }
            else {
                $('.folderButtons button').attr('disabled', false);
                
            }
        }

        function getSelectedFolderId() {
            return selectedFolderId;
        }



        function setSelectedDocumentId(documentId) {
            selectedDocumentId = documentId;
            var element = getTdFromDocumentsTableWithDocumentId(documentId);
            if (element.length == 0) {
                selectedDocumentId = -1;
            }
            if (selectedDocumentId == -1) {
                $('.documentButtons button').attr('disabled', true);
            }
            else {
                $('.documentButtons button').attr('disabled', false);
            }
        }

        function getSelectedDocumentId() {
            return selectedDocumentId;
        }

        function disableAddingDocumentIfFolderNotChosen() {
            if (selectedFolderId == -1) {
                $('.addDocumentButtonDiv button').attr('disabled', true);
            }
            else {
                $('.addDocumentButtonDiv button').attr('disabled', false);
            }
        }

        var scanFilesOfFolderLink = '@Url.Action("ScanFiles", "FolderScanFile", new { folderId = "-1" })';
        var editFolderLink = '@Url.Action("Edit", "Folder", new { folderId = "-1" })';

        var scanFilesOfDocumentLink = `@Url.Action("ScanFiles", "DocumentScanFile", new {area = "DocumentsArea", documentId = "-1" })`;
        var editDocumentLink = `@Url.Action("Edit", "Document", new { area = "DocumentsArea", documentId = "-1" })`;

        function getScanFilesUrlForFolder(folderId)    {
            return scanFilesOfFolderLink.replace("-1", folderId);
        }

        function getEditFolderUrl(folderId) {
            return editFolderLink.replace("-1", folderId);
        }

        function getScanFilesUrlForDocument(documentId) {
            return scanFilesOfDocumentLink.replace("-1", documentId);
        }

        function getEditDocumentUrl(documentId) {
            return editDocumentLink.replace("-1", documentId);
        }

        function redirectToScanFilesOfFolder(event) {
            window.location.href = getScanFilesUrlForFolder(getSelectedFolderId());
        }

        function redirectToEditFolder(event) {
            window.location.href = getEditFolderUrl(getSelectedFolderId());
        }

        function redirectToScanFilesOfDocument(event) {
            window.location.href = getScanFilesUrlForDocument(getSelectedDocumentId());
        }


        function redirectToEditDocument(event) {
            window.location.href = getEditDocumentUrl(getSelectedDocumentId());
        }



        $('#tablesContainer').splitter();

        

        $(function () {
            LoadFolders(@Model.SelectedFolderId);
        });



        function LoadDocuments(Id) {
            var chosenDataType = 'application/json; charset=utf-8';
            var folderDocumentsViewModel = { FolderId: Id };
            $.ajax({
                url: "@Url.Action("GetDocumentsOfFolder", "Document", new { area = "DocumentsArea" })",
                contentType: chosenDataType,
                data: JSON.stringify(folderDocumentsViewModel),
                cache: false,
                dataType: 'html',
                processData: false,
                type: 'POST',
                async: true,
                success: function (response) {
                    updateDocumentsTable(response);
                    $('.documentTableInputFilter').keyup(function (event) {
                        filterDocumentsTable();
                    });
                    setSelectedDocumentId(getFirstRowIdInDocumentsTable());
                    clickOnDocument(null, getSelectedDocumentId());
                    disableAddingDocumentIfFolderNotChosen();
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }

        function LoadFolders(folderId) {
            $.ajax({
                url: "@Url.Action("Get", "Folder")",
                cache: false,
                dataType: 'html',
                processData: false,
                type: 'GET',
                async: true,
                success: function (response) {
                    updateFoldersTable(response);
                    $('.folderTableInputFilter').keyup(function (event) {
                        filterFoldersTable();
                    });
                    clickOnFolder(folderId);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }

        function deleteFolder(event) {
            event.preventDefault();
            event.stopPropagation();
            var dataType = 'application/json; charset=utf-8';
            var deleteFolderViewModel = {
                FolderId: getSelectedFolderId()
            }
            $.ajax({
                url: "@Url.Action("Delete")",
                data: JSON.stringify(deleteFolderViewModel),
                cache: false,
                dataType: 'html',
                contentType: dataType,
                processData: false,
                type: 'DELETE',
                async: true,
                success: function (response) {
                    var newSelectedFolderId = getNewSelectedFolderDuringDeleting(getSelectedFolderId());
                    updateFoldersTable(response);
                    clickOnFolder(newSelectedFolderId);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }

        function updateFoldersTable(response) {
            $('#foldersTable').html(response);
        }

        function updateDocumentsTable(response) {
            $('#documentsTableDiv').html(response);
        }

        let selectedRowClass = 'simpleClass';

        function changeFolder(folderId) {
            setSelectedFolderId(folderId);
            deleteSelectedFolderStyleFromTds();
            getTdFromFoldersTableWithFolderId(folderId).addClass(selectedRowClass);
        }

        function changeDocument(documentId) {
            setSelectedDocumentId(documentId);
            deleteSelectedDocumentStyleFromTds();
            getTdFromDocumentsTableWithDocumentId(documentId).addClass(selectedRowClass);
        }

        function clickOnFolder(folderId) {
            changeFolder(folderId);
            LoadDocuments(folderId);
        }

        function clickOnDocument(event, documentId) {
            if (event != null) {
                event.preventDefault();
            }
            changeDocument(documentId);

        }

        function getFirstRowIdInDocumentsTable() {
            var element = $('#documentsTable > tbody  tr:first-child  .idTd');
            if (element.length != 0) {
                return element.text().trim();
            }
            return -1;
        }

        function deleteSelectedFolderStyleFromTds() {
            $('#foldersTable > tbody > tr').removeClass(selectedRowClass);
        }

        function deleteSelectedDocumentStyleFromTds() {
            $('#documentsTable > tbody > tr').removeClass(selectedRowClass);
        }

        function getTdFromFoldersTableWithFolderId(folderId) {
            return $(`#foldersTable tr:visible .idTd`).filter(function () {
                return this.textContent.trim() === folderId.toString();
            }).parent();
        }

        function getTdFromDocumentsTableWithDocumentId(documentId) {
            return $(`#documentsTable .idTd`).filter(function () {
                return this.textContent.trim() === documentId.toString();
            }).parent();
        }

        function getNewSelectedFolderDuringDeleting(folderId) {
            let deletedElement = getTdFromFoldersTableWithFolderId(folderId);
            let nextElement = deletedElement.prev();
            if (nextElement.length == 0) {
                nextElement = deletedElement.next();
            }
            return nextElement.find('.idTd').text().trim();
        }

        function getNewSelectedDocumentDuringDeleting(documentId) {
            let deletedElement = getTdFromDocumentsTableWithDocumentId(documentId);
            let nextElement = deletedElement.prev();
            if (nextElement.length == 0) {
                nextElement = deletedElement.next();
            }
            return nextElement.find('.idTd').text().trim();
        }

        function deleteDocument(event) {
            event.preventDefault();
            var dataType = 'application/json; charset=utf-8';
            var deleteDocumentViewModel = {
                DocumentId: getSelectedDocumentId(),
                FolderId: getSelectedFolderId()
            };
            $.ajax({
                url: "@Url.Action("Delete", "Document", new { area = "DocumentsArea" })",
                data: JSON.stringify(deleteDocumentViewModel),
                cache: false,
                dataType: 'html',
                contentType: dataType,
                processData: false,
                type: 'DELETE',
                async: true,
                success: function (response) {
                    var newSelectedDocumentId = getNewSelectedDocumentDuringDeleting(getSelectedDocumentId());
                    updateDocumentsTable(response);
                    clickOnDocument(null, newSelectedDocumentId);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }





    </script>
}