﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@model AddRoomViewModel

@{
    ViewData["Title"] = "Otağın əlavə edilməsi";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="Room">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="RoomName">Otaqın adı</label>
        <input asp-for="RoomName" type="text" />
        <span asp-validation-for="RoomName" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Otaqı əlavə et" class="btn btn-outline-primary" />
    </div>
</form>


@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}