﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@using DocumentsArchiverCore.Entities
@model AddLocationViewModel

@{
    ViewData["Title"] = "Ünvanın əlavə edilməsi";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="Location">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="CityId">Şəhər</label>
        <select asp-for="CityId">
            @foreach (var item in Model.Cities)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>

        <a asp-action="Add" asp-controller="City" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></a>
        <span asp-validation-for="CityId" class="form-text text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="NewAddress">Address</label>
        <input asp-for="NewAddress" type="text" />
        <span asp-validation-for="NewAddress" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Ünvanı əlavə et" class="btn btn-outline-primary" />
    </div>
</form>


@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}