﻿@using DocumentsArchiverCore.Entities
@model IEnumerable<FolderScanFile>

@{ int counter = 1;}

<tbody>
<tr>
    <th></th>
    <th>Id</th>
    <th>Faylın adı</th>
    @if(Model.Count() > 0)
    {
    <th></th>
    @*<th></th>*@
    <th></th>
    }
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>@counter  @{counter++;}</td>
        <td>@item.Id</td>
        <td>@System.IO.Path.GetFileName(item.ScanFilePath)</td>
        <td><button onclick="deleteFile(event, @item.Id)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button></td>
        @*<td><button class="btn btn-outline-secondary">Dəyiş</button></td>*@
        <td><button onclick="downloadFile(event, @item.Id, '@Url.Action("Download", "FolderScanFile", new { filePath = item.ScanFilePath })')" class="btn btn-outline-secondary"><i class="fas fa-download"></i></button></td>
        
    </tr>
}

</tbody>