﻿
@using DocumentsArchiverCore.Entities
@using System

@model IEnumerable<FolderScanFile>
@{
    ViewData["Title"] = "Qovluğ skan fayılları";
}

<input hidden id="FolderId" value="@ViewData["FolderId"]" />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<table id="tableId" class="table table-bordered table-striped table-sm">
    <partial name="_ScanFilesTable" model="Model" />

</table>


<form id="formId" style="display:none">
    <input type="hidden" name="FolderId" value="@ViewData["FolderId"]" />
    <input type="file" name="File" /><br />
    <button id="submitButton" onclick="submitAdd(event)" class="btn btn-outline-secondary">Əlavə et</button>
    <button id="cancelAddingId" class="btn btn-outline-secondary" onclick="addFileFormCancel()">Ləğv et</button>
</form>


<button class="btn btn-outline-primary" onclick="addFileFormAppear()" id="addFormFileButton">Fayl əlavə et</button>



@section Scripts{
    <script>
        function deleteFile(event, id) {
            event.preventDefault();
            var dataType = 'application/json; charset=utf-8';
            var deleteFolderScanfileViewModel = {
                FolderId: $('#FolderId').val(),
                DeletedScanFileId: id
            }
            console.log(deleteFolderScanfileViewModel);
            $.ajax({
                url: "@Url.Action("Delete")",
                data: JSON.stringify(deleteFolderScanfileViewModel),
                cache: false,
                dataType: 'html',
                contentType: dataType,
                processData: false,
                type: 'DELETE',
                success: function (response) {
                    updateTable(response);
                }
            });
        }


        $('#submitButton').on('click', function (event) {
            event.preventDefault();
            var myform = document.getElementById("formId");
            let fd = new FormData(myform);
            console.log(fd);
            $.ajax({
                url: "@Url.Action("AddScanFile")",
                data: fd,
                cache: false,
                dataType: 'html',
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {
                    updateTable(response);
                    addFileFormCancel();
                }
            });
        });


        function updateTable(response) {
            $('#tableId').html(response);
        }


        function addFileFormAppear() {

            $('#formId').slideDown();
            $('#addFormFileButton').prop("disabled", true);
        }

        function addFileFormCancel() {
            $('#formId').slideUp();
            $('#addFormFileButton').prop("disabled", false);
        }

        function downloadFile(event, id, scanFilePath) {
            event.preventDefault();
           
            window.location = scanFilePath;
           
        }

    </script>
}


