﻿
@using AspCoreLayer.Areas.Identity.ViewModels
@using Microsoft.AspNetCore.Identity

@model AddUserViewModel

@{
    ViewData["Title"] = "İstifadəçini əlavə etmək";
}

<h2>İstifadəçini əlavə etmək</h2>


<form asp-action="AddUser">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name">Ad</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname">Soyad</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName">Login</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Parol</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmationPassword">Parolu təsdiq edin</label>
        <input asp-for="ConfirmationPassword" class="form-control" />
        <span asp-validation-for="ConfirmationPassword" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role">Rol</label>
        <select asp-for="Role">
            @foreach (var item in ViewData["Roles"] as IEnumerable<IdentityRole>)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-outline-primary">Əlavə et</button>
</form>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

