﻿@using AspCoreLayer.Areas.Identity.ViewModels


@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="Account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Login</label>
        <input type="text" asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Parol</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="form-text text-danger"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="Təsdiq et" class="btn btn-outline-primary" />
    </div>
</form>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

