﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@model AddOrganizationViewModel

@{
    ViewData["Title"] = "Təşkilart əlavə etmə";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="Organization">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="NewOrganizationName">Təşkilatın adı</label>
        <input asp-for="NewOrganizationName" type="text" />
        <span asp-validation-for="NewOrganizationName" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Təşkilatı əlavə et" class="btn btn-outline-primary" />
    </div>
</form>

@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}