﻿@using AspCoreLayer.Areas.FoldersArea.ViewModels
@model AddFolderTypeViewModel

@{
    ViewData["Title"] = "Qovluğ növün əlavəsi";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Add" asp-controller="FolderType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="FolderTypeName">Qovluğ növün adı</label>
        <input asp-for="FolderTypeName" type="text" />
        <span asp-validation-for="FolderTypeName" class="form-text text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Qovluq növünü əlavə et" class="btn btn-outline-primary" />
    </div>
</form>



@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}