﻿@using DocumentsArchiverCore.Entities
@model IEnumerable<DocumentScanFile>

@{ int counter = 1;}

<tbody>
    <tr>
        <th>Id</th>
        <th>Faylın adı</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@System.IO.Path.GetFileName(item.ScanFilePath)</td>
        <td><button onclick="deleteFile(event, @item.Id)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button></td>
        <td><button onclick="downloadFile(event, @item.Id, '@Url.Action("Download", "DocumentScanFile", new { area = "DocumentsArea", filePath = item.ScanFilePath })')" class="btn btn-outline-secondary"><i class="fas fa-download"></i></button></td>
        @*<td><button class="btn btn-outline-primary">Dəyiş</button></td>*@
    </tr>
    }

</tbody>