﻿
@using DocumentsArchiverCore.Entities
@using System

@model IEnumerable<DocumentScanFile>
@{
    ViewData["Title"] = "Sənəd skan fayılları";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<input hidden id="DocumentId" value="@ViewData["DocumentId"]" />

<table id="tableId">
    <partial name="_ScanFilesTable" model="Model" />
</table>


<form id="formId" style="display:none">
    <input type="hidden" name="DocumentId" value="@ViewData["DocumentId"]" />
    <input type="file" name="File" /><br />
    <button id="submitButton" class="btn btn-outline-primary">Əlavə et</button>
    <button id="cancelAddingId" class="btn btn-outline-primary" onclick="addFileFormCancel()">Ləğv et</button>
</form>


<button class="btn btn-outline-primary" onclick="addFileFormAppear()" id="addFormFileButton">Fayl əlavə et</button>



@section Scripts{
    <script>
        function deleteFile(event, id) {
            event.preventDefault();
            var dataType = 'application/json; charset=utf-8';
            var deleteDocumentScanfileViewModel = {
                DocumentId: $('#DocumentId').val(),
                DeletedDocumentScanfileId: id
            }
            console.log(deleteDocumentScanfileViewModel);
            $.ajax({
                url: "@Url.Action("Delete")",
                data: JSON.stringify(deleteDocumentScanfileViewModel),
                cache: false,
                dataType: 'html',
                contentType: dataType,
                processData: false,
                type: 'DELETE',
                success: function (response) {
                    updateTable(response);
                }
            });
        }


        $('#submitButton').on('click', function (event) {
            event.preventDefault();
            var myform = document.getElementById("formId");
            let fd = new FormData(myform);

            $.ajax({
                url: "@Url.Action("Add")",
                data: fd,
                cache: false,
                dataType: 'html',
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {
                    updateTable(response);
                    addFileFormCancel();
                }
            });
            });



        function updateTable(response) {
            $('#tableId').html(response);
        }


        function addFileFormAppear() {

            $('#formId').slideDown();
            $('#addFormFileButton').prop("disabled", true);
        }

        function addFileFormCancel() {
            $('#formId').slideUp();
            $('#addFormFileButton').prop("disabled", false);
        }

        function downloadFile(event, id, scanFilePath) {
            event.preventDefault();

            window.location = scanFilePath;

        }

    </script>
}


